@charset "UTF-8";

/* 
pequenas telas até 600px
celular de 600px até 768px
tablets 768px até 992px
desktop 992px até 1200px
grandes telas 1200px p cima */

@media  screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#celular{ display: none;}
    img#impres{ display: none;}
    img#tv{ display: none;}
    img#pc{ display: none;}
    img#tablet{ display: block;}
}
@media screen and (min-width:992px) and (max-width:1200px) {

}
@media screen and (min-width:1200px) {
    
}